/*
we can set default global parameters for pipeline parameters (params), 
process, manifest, executor, profiles, docker, singularity, 
timeline, report and more.
*/
/*
params.query = "myquery.fasta"
params.dbDir = "/path/to/my/blastDB/"
params.dbName = "myBlastDB"
params.threads = 16
params.outdir = "out_dir"
*/

// different format to define pipeline parameters
params {
  query = "$PWD/input.fasta"
  dbDir = "$PWD/DB"
  dbName = "blastDB"
  threads = 8
  outdir = "out_dir"
  outFileName = "input.blastout"
  options = "-evalue 1e-3"
  outfmt = 6
  app = "blastn"
  help = false
}

// output a detailed timeline report.
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

// output a detailed execution report
report {
  enabled = true
  file = "$params.outdir/report.html"
}

// These parameters are only active if we choose a non-local executor 
// like slurm or torque.
// setting the queueSize to be no more than 100 jobs 
// and a submission rate of no more than 10 per second.
executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}

// load different settings depending on the profile. 
// This is similar to an include statement in other languages.
profiles {
  slurm { includeConfig './configs/slurm.config' }

  docker { docker.enabled = true }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }

  test { includeConfig './configs/test.config' }
}


manifest {
name = 'xiaoli-dong/nextflow_tutorial'
author = 'Xiaoli Dong'
// homePage = 'www.bioinformaticsworkbook.org'
description = 'nextflow bash'
mainScript = 'main.nf'
version = '1.0.0'
}